[core]
    excludesFile = ~/.dotfiles/.gitignore
    pager = delta
[init]
    defaultBranch = main
[push]
    autoSetupRemote = true
[diff]
   algorithm = minimal
[gpg]
   format = ssh
[user]
   name = "Anonymous"
   email = "<>"
[includeIf "gitdir/i:**/nova-aurora/**"]
   path = ~/.dotfiles/gitconfig/nova-aurora
[includeIf "gitdir:~/.cfg"]
   path = ~/.dotfiles/gitconfig/WiDuMu
[includeIf "gitdir/i:**/WiDuMu/**"]
   path = ~/.dotfiles/gitconfig/WiDuMu
[includeIf "gitdir/i:**/classes/**"]
   path = ~/.dotfiles/gitconfig/WiDuMu
[includeIf "gitdir/i:**/murp1561/**"]
   path = ~/.dotfiles/gitconfig/murp1561
[alias]
    s = status
    l = log --decorate --date=short
    c = commit
    b = branch
    bd = branch -b
    bD = branch -D
    branch-delete = branch -D
    cl = clone
    co = checkout
    cob = checkout -b
    graph = log --all --decorate --oneline --graph
    g = graph
    d = diff
    f = fetch
    update = add -u
    up = add -u
    u = add -u
    save = commit -a
    sa = commit -a
    amend = commit --amend --no-edit
    amend-msg = commit --amend
    i = init
    pl = pull
    ps = push
    undo = reset HEAD~1 --mixed
    undo-hard = reset --hard
