[credential]
	helper = "!f() { /var/home/aurora/.vscode-server/bin/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9/node /tmp/vscode-remote-containers-22858922-106e-4bc3-95e4-7f4ce6c0293e.js git-credential-helper $*; }; f"

[includeIf "gitdir:~/Documents/Code/WiDuMu/*"]
	[user]
	name = "Duncan Murphy"
	email = "97642890+WiDuMu@users.noreply.github.com"

	[core]
	sshCommand = ssh -i ~/.ssh/WiDuMu-deploy-key
[core]
    editor = micro
[init]
	defaultBranch = main
[alias]
    s = status
    l = log
    c = commit
    b = branch
    cl = clone
    f = fetch
    update = add -u
    up = add -u
    u = add -u
    save = add -u && commit
    sa = add -u && commit
    i = init
    pl = pull
    ps = push
