[includeIf "gitdir:~/Documents/Code/WiDuMu/*"]
	[user]
	name = "Duncan Murphy"
	email = "97642890+WiDuMu@users.noreply.github.com"
	signingkey = ~/.ssh/WiDuMu-deploy-key.pub
	[core]
	sshCommand = ssh -i ~/.ssh/WiDuMu-deploy-key
[core]
    excludesFile = ~/.dotfiles/.gitignore
[init]
    defaultBranch = main
[push]
    autoSetupRemote = true
[alias]
    s = status
    l = log
    c = commit
    b = branch
    cl = clone
    f = fetch
    update = add -u
    up = add -u
    u = add -u
    save = commit -a
    sa = commit -a
    amend = commit --amend --no-edit
    amend-msg = commit --amend
    i = init
    pl = pull
    ps = push
    undo = reset HEAD~1 --mixed
    undo-hard = reset --hard
[gpg]
format = ssh
[credential]
	helper = "!f() { /var/home/aurora/.vscode-server/bin/cd4ee3b1c348a13bafd8f9ad8060705f6d4b9cba/node /tmp/vscode-remote-containers-6d1af5e5-b8f7-489b-bd20-fe3742a43066.js git-credential-helper $*; }; f"
